.catalog-container {
  height: calc(100vh - 70px);
  font-size: 18px;
}

.catalog-title-container {
  margin-bottom: 20px;
}

.catalog-title-container h1 {
  font-size: 1em;
  letter-spacing: -0.015em;
  color: #263238;
}

@media (min-width: 768px) {
  .catalog-title-container h1 {
    font-size: 1.3em;
  }
}
