
.product-crud-form-card{
    padding: 20px;
}

.product-crud-form-title{
    font-size: 22px;
    font-weight: bold;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    color: #263238;
    margin-bottom: 30px;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

.product-crud-inputs-container{
    margin-bottom: 30px;
}

.product-crud-inputs-left-container{
    margin-bottom: 30px;
}

.product-crud-buttons-container{
    display: flex;
    justify-content: space-between;
}

@media(min-width: 992px){
    .product-crud-inputs-left-container{
        margin-bottom: 0;
    }
}