.admin-container {
    display: flex;
    flex-direction: column;
}


.admin-container  nav{
    border: 1px solid orange;
}

.admin-content {
    padding: 20px;
    border: 1px solid blue;
}

@media(min-width: 1200px) {
    .admin-container {
        display: flex;
        flex-direction: row;
    }

    .admin-content {
        flex: 1;
    }
}