.category-form-card-container {
  padding: 15px;
  max-width: 470px;
  margin: auto;
}

.category-form-card-title {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: #263238;
  margin-bottom: 30px;
}

.category-form-card-input-container {
  margin-bottom: 30px;
}

.category-form-card-buttons-container {
  display: flex;
  justify-content: space-between;
}

.category-form-card-button {
  width: 110px;
  height: 50px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  border-radius: 10px;
}

.category-form-card-button:first-child {
  color: #fff;
}

@media (min-width: 768px) {
  .category-form-card-button {
    width: 200px;
  }
}

@media (min-width: 1200px) {
  .category-form-card-container {
    margin: 0;
  }
}
